.App {
  max-height: 100%;
  width: 100%;
  text-align: center;
}

#map {
  height: 94vh;
  width: 100%;
}

.marker {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.marker:hover {
  transform: scale(1.5);
}

@keyframes activemarker {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
 
  }

  100% {
    transform: scale(5);
    -webkit-transform: scale(5);
    background-color: rgba(3, 3, 192, 0.308);
  }
}

.selectedLocation {
  animation: activemarker 1.5s ease-in-out infinite alternate;
  -webkit-animation: activemarker 1.5s ease-in-out infinite alternate;
}